name: skip ci

on:
  push:
    branches: [ main ]
  schedule:
    - cron: '0 * * * *'
  workflow_dispatch:
  pull_request:
jobs:
  skip-ci:
    strategy:
      fail-fast: false
      matrix:
        include:
          # fails with error redefinition of module 'ELFKitC'
          #- os: 'macos-15'
          #  xcode: '16.4'

          - os: 'macos-14'
            xcode: '16.2'

          #- os: 'macos-15'
          #  xcode: '26.0'

          - os: 'macos-26'
            xcode: '26.0'

          - os: 'ubuntu-24.04'
    runs-on: ${{ matrix.os }}
    env:
      DEVELOPER_DIR: /Applications/Xcode_${{ matrix.xcode }}.app/Contents/Developer
    steps:
      - uses: gradle/actions/setup-gradle@v4
        with:
          gradle-version: current
          add-job-summary: never

      - name: Checkout skipstone
        uses: actions/checkout@v4
        with:
          repository: skiptools/skipstone
          path: skipstone
          ref: main
          token: ${{ secrets.REPO_ACCESS_TOKEN }}

      - name: Checkout skip
        uses: actions/checkout@v4
        with:
          repository: skiptools/skip
          path: skip
          # need to fetch tags so we know the most recent version
          fetch-tags: true

      - name: Setup Xcode
        if: ${{ startsWith(matrix.os, 'macos-') }}
        run: |
          # workaround for failure to find iOS 26 simulator
          # https://github.com/actions/runner-images/issues/12862#issuecomment-3239326872
          xcrun simctl list || true

          # alternatively https://github.com/actions/runner-images/issues/12904#issuecomment-3245474273
          xcodebuild -downloadPlatform iOS || true

      - name: Setup SKIPLOCAL
        run: |
          echo "SKIPLOCAL=$PWD/skipstone" >> $GITHUB_ENV
          echo "PATH=$PWD/skip/.build/plugins/tools/debug:$PWD/skip/.build/debug:$PATH" >> $GITHUB_ENV

      - name: Build Skip
        working-directory: skip
        run: swift build

      - name: Test Skip
        working-directory: skip
        run: swift test


